

{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}
<div class="jumbotron p-3">
    <div class="well text-left">
        <a href="/"> <i class="fa-solid fa-arrow-left"></i></a> </div>
        <div class="well text-center">
    <div class="well text-center">

 <h1> Informações do Atendido: {{pacientes.nome}}</h1>

    </div>


</div>
<div class="container">
<form action='' method = "POST">
<table class="table">
    <tr>
        <td>Nome:</td>
        <td><p>{{pacientes.nome}}<p/>
</td>
    </tr>
    <tr>
        <td>Data de Nascimento:</td>
        <td>
<p>{{pacientes.dtNasc}}<p/>    </tr>

    <tr>
        <td>Nome da Mãe:</td>
        <td>
<p>{{pacientes.nomeMae}}<p/>    </tr>

    <tr>
        <td>Nome do Pai:</td>
        <td>
            <p>{{pacientes.nomePai}}<p/></td>
    </tr>

    <tr>
        <td>Data de Ingresso:</td>
        <td>
<p>{{pacientes.dataIngresso}}<p/>        </td>
    <tr>
        <td>Serviço de Origem:</td>
        <td>
 <p>{{pacientes.servicoOrigem}}<p/>        </td>
    <tr>
        <td>Recebe Beneficio:</td>
        <td>
<p>{{pacientes.recebeBeneficio}}<p/>    <tr>
        <td>Cep:</td>
        <td><p>{{pacientes.cep}}<p/>
    <tr>
        <td>Rua:</td>
        <td>
<p>{{pacientes.rua}}<p/>    <tr>
        <td>Número:</td>
        <td>
<p>{{pacientes.numero}}<p/>    <tr>

    <tr>
        <td>Complemento:</td>
        <td>
<p>{{pacientes.complemento}}<p/>


    </tr>
</table>

  </form>

</div>
       <div class="well text-center">

 <h1> PIA's relacionados ao atendido: {{pacientes.nome}}</h1>

    </div>

<table class="table">
     <thead style="background-color: gray;color: aliceblue;">
        <th>ID</th>
        <th>ID Atendido</th>
        <th>Serviço Indicado</th>
        <th>Orgao Responsável</th>
        <th>Competência Territorial</th>
        <th>Responsável das Informações</th>
     <th>Ações</th>


    </thead>

   <tbody id="tablePia">
    {% for pia in pias %}
    <tr
    {% if loop.index %2==0 %}
    style="background-color:RGB(205,205,205);color:black;"
    {% else %}
    style="background-color:RGB(217,217,243);color:black;"
    {% endif %}
    ><td>{{ loop.index }}</td>
    <td>{{pia.id_paciente}}</td>
    <td>{{pia.serviço_indicado}}</td>
    <td>{{pia.orgao_responsavel}}</td>
    <td>{{pia.competencia_territorial}}</td>
    <td>{{pia.responsavel_informaçoes}}</td>


    <td>
        <span style="font-size: 24px;color:red;">
          <a href="/pia/{{pia.id}}"> <i class="fa-regular fa-eye"></i></a></span> |
        <span style="font-size: 24px;color:white;">
       <a href="/{{pia.id}}/pia/edit"> <i class="fas fa-edit"></i></a> </span>
        | <span style="font-size: 24px;color:red;">
          <a href="/{{pia.id}}/pia/delete"> <i class="fas fa-trash-alt"></i></a></span>


    </td>

    {% endfor %}
   </tbody>
 </table>

     <div class="well text-center">

 <h1> PIA's relacionados ao atendido: {{pacientes.nome}}</h1>

    </div>


    <table class="table">
     <thead style="background-color: gray;color: aliceblue;">
        <th>ID</th>
        <th>ID Atendido</th>
        <th>Nome</th>
        <th>Paretesco</th>
        <th>Celular</th>
        <th>Responsável Legal</th>
     <th>Ações</th>


    </thead>

   <tbody id="tableFamiliar">
    {% for f in familiares %}
    <tr
    {% if loop.index %2==0 %}
    style="background-color:RGB(205,205,205);color:black;"
    {% else %}
    style="background-color:RGB(217,217,243);color:black;"
    {% endif %}
    ><td>{{ loop.index }}</td>
    <td>{{f.id_paciente}}</td>
    <td>{{f.nome}}</td>
    <td>{{f.parentesco}}</td>
    <td>{{f.celular}}</td>
    <td>{{f.responsavel_legal}}</td>


    <td>
        <span style="font-size: 24px;color:red;">
          <a href="/familiar/{{f.id}}"> <i class="fa-regular fa-eye"></i></a></span> |
        <span style="font-size: 24px;color:white;">
       <a href="/{{f.id}}/familiar/edit"> <i class="fas fa-edit"></i></a> </span>
        | <span style="font-size: 24px;color:red;">
          <a href="/{{f.id}}/familiar/delete"> <i class="fas fa-trash-alt"></i></a></span>


    </td>

    {% endfor %}
   </tbody>
 </table>

{% endblock %} </div>