{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="jumbotron p-3">
    <div class="well text-center">

 <h1> Lista de Familiares </h1>

    </div>


</div>
<div class="container">
        <div>
     <a class="nav-link"  href="/createFamiliar">+ Novo Familiar</a>

    </div>
 <br>
    <b>Busque por:
          <input id="busca" type="text"
                 placeholder="Search here">
        </b>
    <br><br>
 <table class="table">
     <thead style="background-color: gray;color: aliceblue;">
        <th>ID</th>
        <th>ID Atendido</th>
        <th>Nome</th>
        <th>Paretesco</th>
        <th>Celular</th>
        <th>Responsável Legal</th>
     <th>Ações</th>


    </thead>

   <tbody id="tableFamiliar">
    {% for f in familiares %}
    <tr
    {% if loop.index %2==0 %}
    style="background-color:RGB(205,205,205);color:black;"
    {% else %}
    style="background-color:RGB(217,217,243);color:black;"
    {% endif %}
    ><td>{{ loop.index }}</td>
    <td>{{f.id_paciente}}</td>
    <td>{{f.nome}}</td>
    <td>{{f.parentesco}}</td>
    <td>{{f.celular}}</td>
    <td>{{f.responsavel_legal}}</td>


    <td>
        <span style="font-size: 24px;color:red;">
          <a href="/familiar/{{f.id}}"> <i class="fa-regular fa-eye"></i></a></span> |
        <span style="font-size: 24px;color:white;">
       <a href="/{{f.id}}/familiar/edit"> <i class="fas fa-edit"></i></a> </span>
        | <span style="font-size: 24px;color:red;">
          <a href="/{{f.id}}/familiar/delete"> <i class="fas fa-trash-alt"></i></a></span>


    </td>

    {% endfor %}
   </tbody>
 </table>


     <script>
            $(document).ready(function() {
                $("#busca").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#tablePia tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>

</div>


{% endblock %}