{% extends 'base.html' %}
{% include 'header.html' %}
 
{% block title %} Home {% endblock %}
 
{% block body %}
<div class="jumbotron p-3">
    <div class="well text-center">

 <h1> Lista de Atendidos</h1>

    </div>


</div>
<div class="container">
    <div>
     <a class="nav-link"  href="/create">+ Novo Atendido</a>
    </div>

    <br>
    <b>Buscar Atendido:
          <input id="busca" type="text"
                 placeholder="buscar...">
        </b>
    <br><br>
 <table class="table">
     <thead style="background-color: gray;color: aliceblue;">
        <th>ID</th>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Nome da Mae</th>
        <th>Nome do Pai</th>
        <th>Data de Ingresso</th>
        <th>Ações</th>
    </thead>

   <tbody id="tablePacientes">
    {% for p in pacientes %}
    <tr
    {% if loop.index %2==0 %}
    style="background-color:RGB(205,205,205);color:black;"
    {% else %}
    style="background-color:RGB(217,217,243);color:black;"
    {% endif %}
    ><td>{{ loop.index }}</td>
    <td>{{p.nome}}</td>
    <td>{{p.dtNasc}}</td>
    <td>{{p.nomeMae}}</td>
    <td>{{p.nomePai}}</td>
    <td>{{p.dataIngresso}}</td>

    <td>
        <span style="font-size: 24px;color:red;">
          <a href="/{{p.id}}"> <i class="fa-regular fa-eye"></i></a></span> |
        <span style="font-size: 24px;color:white;">
       <a href="{{p.id}}/edit"> <i class="fas fa-edit"></i></a> </span>
        | <span style="font-size: 24px;color:red;">  
          <a href="{{p.id}}/delete"> <i class="fas fa-trash-alt"></i></a></span>
    </td>

    {% endfor %}
   </tbody>
 </table>

    <script>
            $(document).ready(function() {
                $("#busca").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#tablePacientes tr").filter(function() {
                        $(this).toggle($(this).text()
                        .toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
</div>


{% endblock %}